#header {
  text-align: center;
  padding: 1em;
  background-color: #f5f5f5;
  border-radius: 4px;
  border: 1px solid #ddd;
  margin-bottom: 1em;
}

.budget-list {
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}

table {
  margin: 2em 0 1em;
}

th.pull-right {
  margin-right: 2.66em;
}

.glyphicon-trash {
  padding: 0 8px 0 1em;
  cursor: pointer;
}

#summary p {
  font-size: 1.33em;
}

.negative {
	color: #a94442;
}

/* Fix bootstrap table borders with pull-right */
tr {
  border-bottom: 1px solid #ddd;
}

thead tr {
  border-bottom: 2px solid #ddd;
}

td, th {
  border-width: 0px !important;
}


/* extra space at bottom */
body {
  margin-bottom: 3em;
}
